{% extends 'index.html' %}
{% block title %}Change Password{% endblock title %}
{% block style %}
.ml{
    margin-left: 4px; 
    margin-top: 2px;
    color: black;
}
.disabled{
    color: white !important;
}
.card1 {
  width: 23rem !important;
  <!-- top: 9rem;
  left: 31rem; -->
  border-radius: 6px;
  padding: 5px;
}
<!-- .card2 {
  top: 6rem !important;
} -->
.pro-img{
  height: 65px;
  width: 68px;
  position: absolute;
  right: 1rem;
  border-radius: 40px;
}
.card{
  background-color: #3f4142;
  color: white;
}
.card-input{
  border-radius:5px;
}
.w{
  color:#0dcaf0;
}
{% endblock style %}
{% block body %}
<!--position-absolute top-50 start-50 translate-middle mt-10-->
<form method="POST" action="">
    {% csrf_token %}
  <div class="maindiv">
      <span class="card1 card card2" style="width: 18rem;">
          <div class="card-body">
              <h5 class="card-title">Change Password</h5>
          </br>
              <p class="card-text">New Password:</p>
              <input type="password" name="new_password" class="card-input text-gray-900"></input>
          </br>
              <p class="card-text">Re-enter Password:</p>
              <input type="password" name="confirm_password" class="card-input text-gray-900"></input>
      </br>
      <br>
              <input class="btn btn-success" type="submit" value="Confirm">
              <a href="/profile" class="btn btn-danger">Cancel</a>
          </div>
        </span>
  </div>
  </form>

{% endblock body %}
    
    